body {
    color: red;
}
html {
    font-size: 14px;
}
div.child {
    color: black;
}
div.second-child {
    color: red;
}
div.deep-child {
    border: none;
}

div.deep-second-child {
    display: none;
}

div.deep-child {
    border: none;
}

div.deep-second-child {
    display: none;
}


div.deep-child {
    border: none;
}

div.deep-second-child {
    display: none;
}



div.deep-child {
    border: none;
}

div.deep-second-child {
    display: none;
}



div.deep-child {
    border: none;
}

div.deep-second-child {
    display: none;
}



div.deep-child {
    border: none;
}

div.deep-second-child {
    display: none;
}



div.deep-child {
    border: none;
}

div.deep-second-child {
    display: none;
}

div.very-deep-second {
    content: 'helloworld';
}
